
.wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
   
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 16px 8px 7px;
    
}