/*
Font: 		Cerebri Sans
Style: 		Light
URL: 		https://www.youworkforthem.com/font/T7559/cerebri-sans
Foundry: 	Hanken Design Co.
Foundry: 	https://www.youworkforthem.com/designer/809/hanken-design-co
Copyright:	Copyright ©2016. Cerebri Sans is a trademark of Alfredo Marco Pradil. All rights reserved.
Version: 	17
Created:	March 02, 2017
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'CerebriSans-Light';
	src: url('cerebri-sans-light.eot');
	src: url('cerebri-sans-light.eot?#iefix') format('embedded-opentype'),
             url('cerebri-sans-light.woff2') format('woff2'),
	     url('cerebri-sans-light.woff') format('woff'),
	     url('cerebri-sans-light.ttf') format('truetype'),
	     url('cerebri-sans-light.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
